
# Ignore everything
*
**

# These guy's apparently weren't getting the message...
*.DS_Store

# Except python files (just in case),
!*.py
!**/*.py

# Javascript files,
!*.js
!**/*.js

# and config files
!.gitignore

!.travis.yml

# Readmes
!README.md

# dependency files
!package.json

# Allow docker configuration files
!Dockerfile
!docker-compose.yml
!.dockerignore

# dont ignore ops
!ops


